{% extends 'base.html' %}
{% load static %}



{% block links %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock links %}


    
{% block content %}

{% include '../messages.html' %}
<div class="login-page">
  <div class="form">
    
    <form class="login-form" action="" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
    </form>
  </div>
</div>

{% endblock content %}