{% extends 'base.html' %}
{% load static %}  
    
{% block genres %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Genres
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="{% url 'home' %}">All</a></li>
        {% for genre in genres %}
            <li><a class="dropdown-item" href="{% url 'home' %}?q={{ genre.title }}">{{genre}}</a></li>
        {% endfor %}
    </ul>
</li>
{% endblock genres %}
{% block content %}


<div class="container">
            <div class="row m-3">
                {% for post in posts %}
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ post.image }}" class="card-img-top">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.desc|truncatechars:30 }}</p>
                            <p class="card-text">{{ post.created }}</p>
                            <p class="card-text">{{ post.updated }}</p>
                            <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
</div>
{% endblock content %}